/**
 * Charty Module Minimal style
 */

.charty h3 {
  text-align: center;
}

.charty .filter_container {
  text-align: center;
}

.charty .buttons_container {
  width: 100%;
  text-align: center;
}

.charty .buttons_container.center {
  text-align: center;
}

.charty .buttons_container.left {
  float: left;
}

.charty .buttons_container.right {
  float: right;
}

.charty .charty_button {
  display: inline-block;
}

/** checkbox style **/
.charty .wrap{
  margin: 10px auto;
  width: 65px;
  height: 75px;
  position: relative;
  display: inline-block;
}

.charty input[type=checkbox] {
  visibility: hidden;
}

.chartCheckBtn{
  float: left;
  position: relative;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border: 4px solid #d66c26;
  background: #DBE9F0;
  background: linear-gradient(top, rgba(231,241,249,1) 0%,rgba(200,215,226,1) 100%);
  box-shadow: 0 2px 3px -1px rgba(0,0,0, 1);
  color: #F5802D;
  text-align: center;
   text-shadow: 0 1px 0 #fff;
  font-size: 22px;
  line-height: 40px;
  cursor: pointer;
  touch-action: manipulation;
  transition: color .2s ease-in;
  -webkit-touch-callout: none;
  user-select: none;
}


.chartCheckBtn:hover{
  color: #F5802D;
}

.chartCheckBtn.active, .chartCheckBtn input[type=checkbox]:checked + label, .chartCheckBtn input[type=checkbox]:checked + i{
  color: #F5802D;
  font-weight: bold;
  text-shadow: 0 1px 0 #d66c26;
  transition: all 0.3s ease-in;
}

.chartCheckBtn i {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  padding-left: 20%;
  color: #B0CBD8;
}

.charty label {
  position: absolute;
  width: 70px;
  left: -18px;
  padding-top: 34px;
  cursor: pointer;
  height: 100%;
  z-index: 11;
  color: #7CA2B4;
  font-size: 80%;
}

/** Buttons Style **/

.charty .alternateBtn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.charty .alternateBtn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.charty .alternateBtn.small {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Button orange */
.charty .alternateBtn-orange {
  color: #fff;
  background: #F5802D;
  border: 4px solid #d66c26;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.charty .alternateBtn:active, .charty .alternateBtn.fake-active, .charty .alternateBtn.selected {
  color: #d66c26;
  background: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}